/* =======按鈕區============================== */
#menu{
    font-family: "微軟正黑體";
	width: 850px;
	height: 40px;
	position: relative;
	z-index: 100;
	margin-right: auto;
	margin-left: auto;
	margin-top: -5px;
	float: none;
	background-image: url(../img/menu_bg.jpg);
	background-repeat: no-repeat;	
}
ul.dropdown {
	list-style: none;
	text-align:center;
	line-height:37px;
	z-index:100;
	margin-bottom: 3px;

}
ul.dropdown li {
	float: left;
	position: relative;
	width: 170px;
	height: 40px;
	text-align: center;
	z-index: 100;
	background-repeat: no-repeat;

}

ul.dropdown li a{
	display: block;
	width: 170px;
	text-decoration: none;
	color: #666;
	font-size: 14px;
	font-family: "微軟正黑體";
	letter-spacing: 1px;
	line-height: 40px;
	font-weight: normal;
	height: 40px;
}

ul.dropdown li ul{
	position: absolute;
	text-align: center;
	height: 37px;
	z-index: 100;
	display: none;
}
ul li{
	border-bottom-width: 0px;
	border-bottom-style: none;
}

ul.dropdown li ul li a,li#_left ul li a, li#_right ul li a{
	display: block;
	width: 170px;
	height: 37px;
	clear: both;
	font-size: 12px;
	font-family: "微軟正黑體";
	line-height: 37px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
ul.dropdown li ul li a:hover,li#_left ul li a:hover, li#_right ul li a:hover{
	color: #80B32A;
	z-index: 100;
	height: 37px;
}

#HEADER #menu .dropdown #line {
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D6D6D6;
	border-left-color: #D6D6D6;

	z-index: 100;

}
#HEADER #menu .dropdown #line ul #button a {
	width: 130px;
}

ul, li {margin: 0;padding: 0;list-style: none;}


#menu .dropdown ul li {
	height: 37px;
}

ul.dropdown a:hover{
	color: #FFFFFF;
	background-image: url(../img/menu_ul_a.jpg);
	background-repeat: no-repeat;	
}

#menu .dropdown ul li a:hover {
	background-image: url(../img/menu_ul_a.jpg);
	background-repeat: no-repeat;
	color: #FFF;
}
#all #menu .dropdown li .u5 {
	width: 174px;
	margin-left: -2px;
}
#all #menu .dropdown li .u5 .m05 {	
	width: 174px;
	margin-left: -2px;
	background-image: url(../img/menu_ul_m5.jpg);
	background-repeat: no-repeat;
}

#all #menu .dropdown li .u2 {
	width: 173px;
	margin-left: -2px;
}
#all #menu .dropdown li .u02 .m02 {
		width: 173px;
	margin-left: -2px;
	background-image: url(../img/menu_ul_m2.jpg);
	background-repeat: no-repeat;
}

#all #menu .dropdown li .u1 {
	width: 173px;
	margin-left: 0px;
}
#all #menu .dropdown li .u01 .m01 {
			width: 173px;
	margin-left: 0px;
	background-image: url(../img/menu_ul_m2.jpg);
	background-repeat: no-repeat;
}
