@charset "utf-8";
/* CSS Document */

	#menu{
	width: 850px;
	height: 40px;
	position: relative;
	z-index: 100;
	margin-right: auto;
	margin-left: auto;
	margin-top: -5px;
	float: none;
	background-image: url(../img/menu_BG.png);
	background-repeat: no-repeat;	
}
	#menu li {
	margin: 0;
	padding: 0;
	float: left;
	width: 140px;
	text-align: center;
	font-size: 15px;
	}
	#menu li a {
	display: block;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	color: #4c4c4c;
	background-repeat: no-repeat;
	}
	#menu li ul li {
	width: 130px;
	font-size: 14px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}
	#menu li ul li a { display: inline; }
	#menu li ul li a:hover {
	color: #e13e14;
}
#menu_bar {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #CCC;
	border-bottom-color: #CCC;
	height: 42px;
}

.here  {
	color: #e13e14;
}
#all #menu_bar #menu li #here2 {
	background-image: url(../img/menu_btn.png);
	background-repeat: no-repeat;
	background-position: center center;
	color: #FFF;
}
.border_l {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
.padding01 {
	padding-left: 75px;
	list-style: none;
	position: absolute;
	left: 0;
	width: 725px;
	display: none;
	background-repeat: no-repeat;
	border-radius: 0px 0px 2px 2px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 6px;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	background-color: #FFF;
	margin-left: -50px;
	text-align: center;
}
.padding02 {
	padding-left: 200px;
	list-style: none;
	position: absolute;
	left: 0;
	width: 600px;
	display: none;
	background-repeat: no-repeat;
	border-radius: 0px 0px 2px 2px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 6px;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	background-color: #FFF;
	margin-left: -50px;
	text-align: center;
}
.padding03 {
	list-style: none;
	position: absolute;
	left: 0;
	width: 800px;
	display: none;
	background-repeat: no-repeat;
	border-radius: 0px 0px 2px 2px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 6px;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	background-color: #FFF;
	margin-left: -50px;
	text-align: center;
	padding-left: 0px;
}