/* CSS Document */
body{
	font-family:"Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif;letter-spacing:.1px;word-spacing:1px;margin:0;padding:0;border:0;
	font-size:13px;}
div, h1, h2, h3, h4, h5, h6, form, label, input, span, ul, li, p, a{
	margin:0; padding:0;}
ul{
	list-style:none;}
.spacer{
	font-size:0; line-height:0; clear:both;}


/* -- top navigation start -- */
/* =======LOGO區============================== */
#HEADER{width:840px; height:65px; margin:0 auto; padding:0;position:relative;}
#HEADER2{width:980px; height:65px; margin:0 auto; padding:0;position:relative;}
#HEADER h1{
	text-indent:-9999px;
	position:absolute;
	top:7px;}
#HEADER h1 a {
	background-image:url(img/eco_logo.jpg);
	display: block;
    height: 50px;
    width: 179px; outline:none;}
#HEADER h2{
	text-indent:-9999px;
	position:absolute;
	top:5px;
	left:811px;}

#HEADER span{
	display:block;
	width:155px;
	height:20px;
	position:absolute;
	top:43px;
	left:680px;
}
#HEADER span a{
	font-size:14px;
	font-family:Microsoft JhengHei,'微軟正黑體',Arial,sans-serif;
	text-decoration:none;
	color:#333;
	padding:0 3px;}
#HEADER span a:hover{
	text-decoration:underline;}
	
#HEADER h2 a{
	display:block;
	width:20px;
	height:20px;
	outline:none;
	background-image:url(img/home.gif);}
#hmenu {
	list-style: none outside none;
	position:absolute;
	top:10px;
	left:661px;
	width: 156px;
}
	
#hmenu li {
    float: left;
    padding: 0;}
	
#hmenu li a {
    display:block;
    height:15px;
    line-height:15px;
    text-indent:-9999px;
	outline:none;}
#hmenu a.v1 {
    background:url(img/header-home.gif) no-repeat scroll 0 0 transparent;
    width:44px;}
#hmenu a.v2 {
    background:url(img/header-enlish.gif) no-repeat scroll 0 0 transparent;
    width:48px;
}
#hmenu a.v3 {
    background: url(img/header-chisnes-s.gif) no-repeat scroll 0 0 transparent;
    width: 55px;
}
#hmenu a.v4 {
    background:url(img/header-chisnes-t.gif) no-repeat scroll 0 0 transparent;
    width: 55px;
}
/* =======按鈕區============================== */
#menu{ width:840px; height:32px; margin:0 auto;}
ul.dropdown {
	list-style: none;
	text-align:center;
	line-height:32px;
	z-index:100;
}
ul.dropdown li {
	float: left;
	margin-right: 1px;
	position: relative;
	width:139px;
	height:32px;
}
ul.dropdown li a{
	display:block;
	width:139px;
	text-decoration:none;
	color:#FFF;
	font-size:15px;
	font-weight:bold;
	font-family:Microsoft JhengHei,'微軟正黑體',Arial,sans-serif;
	letter-spacing:1px;
	line-height:32px;
	background-image:url(img/mainmenu_back_g.gif);}
ul.dropdown a:hover{ 
	background-image:url(img/mainmenu_back_b.gif);}
ul.dropdown li ul{
	position: absolute;
	text-align: center;
	width: 139px;
	height:32px;
	z-index:2;}
ul li{ border-bottom:#FFF 1px solid;}

li#_left a{ background-image:url(img/mainmenu_backLeft.gif);}
li#_left a:hover{ background-image:url(img/mainmenu_backLeft_B.gif);}
li#_right a{ background:url(img/mainmenu_backRight.gif);}
li#_right a:hover{ background:url(img/mainmenu_backRight_B.gif);}

ul.dropdown li ul li a,li#_left ul li a, li#_right ul li a{
	display:block;
	width: 139px;
	height:32px;
	clear: both;
	font-size:13px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	line-height:32px;
	letter-spacing:1px;
	color:#FFF;
	background-image:url(img/mainmenu_list.gif);}
ul.dropdown li ul li a:hover,li#_left ul li a:hover, li#_right ul li a:hover{ 
	color:#FC0; 
	background-image:url(img/mainmenu_list.gif);}

/* -- top navigation start -- */

/* -- body start -- */
#body{
	width:840px; height:auto; margin:0 auto; padding:0 0 5px 0;
	}
#body2{
	width:980px; height:auto; margin:0 auto; padding:0 0 5px 0;
	}
#body img.logo{
	border:none; margin:30px 0 0 0;}
#body h1{
	background:url(images/punch_line.gif) no-repeat 0 0 #F7F7F7; color:#171717;
	width:142px; height:49px; text-indent:-20000px;}
#body div.bodyText{
	padding:50px 0 0 0;}
#body div.bodyText h2{
	font:bold italic 24px/34px Georgia, "Times New Roman", Times, serif; color:#B10000;}
#body div.bodyText h2 span{
	color:#000000; background-color:#F7F7F7;}
#body div.bodyText h3{
	font:bold 20px/24px Georgia, "Times New Roman", Times, serif; color:#526D0D;
	background:url(images/folder_icon.gif) no-repeat 0 5px #F7F7F7; padding:0 2px 0 25px;}
#body div.bodyText h4{
	font:normal 20px/24px Georgia, "Times New Roman", Times, serif; color:#000000;
	background-color:#FFF7DE; padding:0 0 0 10px;}
#body div.bodyText p{
	font:normal 13px/20px Georgia, "Times New Roman", Times, serif; color:#171717;
	padding:10px 0; background-color:#F7F7F7;}
#body div.bodyText p a{
	color:#003E6A; background-color:#F7F7F7; text-decoration:underline;}
#body div.bodyText p a:hover{
	text-decoration:none;}
#body div.catagory{
	padding:25px 0 0 0;}
.pink{
	width:182px; padding:7px 15px 50px; float:left;
	background:url(images/pink_bg.gif) no-repeat 0 0 #F7F7F7; color:#4B2B3E;}
.pink h3{
	background:url(images/news_icon.gif) no-repeat 2px 13px; color:#850049;
	font:bold 20px/38px Georgia, "Times New Roman", Times, serif; padding:0 9px 0 22px;}
.pink h4{
	background:url(images/date_bg.gif) no-repeat 0 13px; color:#384B06;
	width:56px; text-align:center;
	font:bold 12px/39px Arial, Helvetica, sans-serif;}
.pink h5{
	color:#000000; text-transform:uppercase;
	font:bold 10px/11px Georgia, "Times New Roman", Times, serif;}
.pink p{
	color:#4B2B3E; padding:3px 0 10px 0;
	font:normal 11px/17px Georgia, "Times New Roman", Times, serif;}
.pink a.more{
	background:url(images/pink_more_btn.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:46px; height:11px; display:block; float:right;
	text-decoration:none; text-indent:-2000px;
	padding:0; line-height:0;}
.pink a.more:hover{
	background:url(images/pink_more_btn_h.gif) no-repeat 0 0 #FFFFFF; color:#000000;}

.green{
	width:182px; padding:7px 15px 50px; float:left; margin:0 23px;
	background:url(images/green_bg.gif) no-repeat 0 0 #F7F7F7; color:#4B2B3E;}
.green h3{
	background:url(images/solution_icon.gif) no-repeat 2px 13px; color:#516D0A;
	font:bold 20px/38px Georgia, "Times New Roman", Times, serif; padding:0 9px 0 22px;}
.green h5{
	color:#000000; text-transform:uppercase;
	font:bold 10px/11px Georgia, "Times New Roman", Times, serif;}
.green p{
	color:#3D5C32; padding:3px 0 27px 0;
	font:normal 11px/17px Georgia, "Times New Roman", Times, serif;}
.green p a.line{
	color:#3D5C32; padding:0;  text-decoration:underline;
	font:normal 11px/17px Georgia, "Times New Roman", Times, serif;}
.green p a.line:hover{
	color:#3D5C32; padding:0;  text-decoration:none;
	font:normal 11px/17px Georgia, "Times New Roman", Times, serif;}
.green a.more{
	background:url(images/green_more_btn.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:46px; height:11px; display:block; float:right;
	text-decoration:none; text-indent:-2000px;
	padding:0; line-height:0;}
.green a.more:hover{
	background:url(images/green_more_btn_h.gif) no-repeat 0 0 #FFFFFF; color:#000000;}

.blue{
	width:182px; padding:7px 15px 50px; float:left;
	background:url(images/blue_bg.gif) no-repeat 0 0 #F7F7F7; color:#4B2B3E;}
.blue h3{
	background:url(images/support_icon.gif) no-repeat 2px 11px; color:#364A5B;
	font:bold 20px/38px Georgia, "Times New Roman", Times, serif; padding:0 9px 0 22px;}
.blue h5{
	color:#000000; text-transform:uppercase;
	font:bold 10px/11px Georgia, "Times New Roman", Times, serif;}
.blue p{
	color:#364A5B; padding:3px 0 10px 0;
	font:normal 11px/17px Georgia, "Times New Roman", Times, serif;}
.blue a.more{
	background:url(images/blue_more_btn.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:46px; height:11px; display:block; float:right;
	text-decoration:none; text-indent:-2000px;
	padding:0; line-height:0;}
.blue a.more:hover{
	background:url(images/blue_more_btn_h.gif) no-repeat 0 0 #FFFFFF; color:#000000;}
.goal{
	width:448px; float:left; padding:0 22px 0 0;}
.goal h2{
	font:bold italic 24px/34px Georgia, "Times New Roman", Times, serif;
	color:#B10000; background-color:#F7F7F7;}
.goal h2 span{
	color:#000000; background-color:#F7F7F7;}
.goal p{
	font:normal 13px/20px Georgia, "Times New Roman", Times, serif; color:#171717;
	padding:10px 0; background-color:#F7F7F7;}
.goal p.greenText{
	font:normal 13px/20px Georgia, "Times New Roman", Times, serif; color:#526D0D;
	padding:6px 0; background-color:#F7F7F7;}
.goal ul li{
	font:normal 13px/20px Georgia, "Times New Roman", Times, serif; color:#171717;
	padding:2px 2px 2px 23px; margin:0 0 5px 0;
	background:url(images/bullet_no.gif) no-repeat 2px 5px #FFFBED;}
form.login{
	width:188px; height:220px; float:right; padding:10px 12px;
	background-color:#E7E7E7; color:#033462;}
form.login h2{
	background:url(images/login_head_bg.gif) no-repeat 0 0 #E7E7E7; color:#000000;
	font:bold 17px/30px Georgia, "Times New Roman", Times, serif; padding:0 0 20px 13px;}
form.login label{
	background-color:#E7E7E7; color:#B10000; padding:0 0 16px 12px; float:left;
	font:bold 10px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;}
form.login input{
	background-color:#FFFFFF; color:#2D2D2D; margin:0 0 16px 0; padding:2px;
	width:118px; height:14px; float:right;
	font:normal 10px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;}
form.login input.loginBtn{
	background-color:#FFFFFF; color:#2D2D2D; margin:0; padding:0;
	float:right; width:46px; height:11px; line-height:0; font-size:0;}
form.login a{
	background-color:#E7E7E7; color:#033462; padding:0 0 4px 12px; float:left;
	font:bold 10px/12px Georgia, "Times New Roman", Times, serif;
	text-decoration:none; text-transform:uppercase;}
form.login a:hover{
	background-color:#E7E7E7; color:#064988;}

.floatLeft{
	float:left;}
/* -- body end -- */

/* footer start -- */
/* =======底部區============================== */
#FOOTER {clear:both;width:840px; height:32px; margin:0 auto; background-image:url(img/bottom.jpg); padding-top:8px;}
#FOOTER h2{color:#FFF;font-family:Microsoft JhengHei,'微軟正黑體',Arial,sans-serif;font-size:10px;letter-spacing:1px;text-align:center; line-height:14px;} 
/* footer end -- */

table.fancy {
	border-top:2px solid #333;
	margin-bottom:20px;
	border-bottom:1px solid #f4f4f4;
}

table.fancy th {
	color:#666;
	text-transform:uppercase;

	padding:10px 20px;
	vertical-align:middle;
	background:#f5f5f5;
	font-family:Arial, Helvetica, sans-serif;
	border-top:1px solid #f4f4f4;
}

table.fancy td {
	line-height:20px;
	padding:10px 20px;

	border-bottom:1px solid #e5e5e5;
	border-top:1px solid #f4f4f4;
	text-align:center;
}

table.normal {
	border:1px solid #fff;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
	-moz-box-shadow: 1px 1px 0px #999;
	-webkit-box-shadow: 1px 1px 0px #999;
	box-shadow: 1px 1px 0px #999;
}

table.fullwidth {
	width:100%;
}

table.normal td {
	padding:5px 15px;
}

table.normal thead th {
	background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
	text-transform:uppercase;

	font-weight:normal;
	border-bottom:1px solid #ccc;
	text-shadow:-1px -1px #fff;
	padding:5px 15px;
	text-align:left;

}

table.normal thead th:hover {
	cursor:pointer;
}

table.normal tbody {
	border-top:1px solid #fff;
	background:#f4f4f4;
}

table.normal tbody tr.odd td {
	background:#fafafa;
}

table.normal tbody td {

	vertical-align:middle;
}
fieldset {
	border:1px solid #fff;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
	-moz-box-shadow: 1px 1px 0px #999;
	-webkit-box-shadow: 1px 1px 0px #999;
	box-shadow: 1px 1px 0px #999;
	padding:20px 20px 0 20px;
	
	background:#fbfbfb;
	background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
	
	margin-bottom:15px;
}
fieldset legend {
	border:1px solid #fff;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
	-moz-box-shadow: 1px 1px 0px #999;
	-webkit-box-shadow: 1px 1px 0px #999;
	box-shadow: 1px 1px 0px #999;
	
	background:#fbfbfb;
	background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
	
	padding:5px 20px;
	text-transform:uppercase;
	font-size:11px;
}
input[type="text"],input[type="radio"], input[type="checkbox"], input[type="password"], select {
    padding:5px 10px;
	background:#eee;
	color:#888;
	
	border-width:1px;
	border-style:solid;
	border-color:#d9d9d9 #eaeaea white;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
}
input[type="radio"], input[type="checkbox"] {
	margin-right:5px;
	font-size:10px;
}
a.button_link, input[type="submit"], input[type="reset"], .ui-dialog .ui-dialog-buttonpane button {
	color:#fff;
	text-decoration:none;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-shadow:0 1px 1px #0c507b;
	letter-spacing:0px;
	text-transform:uppercase;
	
	padding:8px 12px 6px 12px;
	margin:0 10px 5px 0;
	
	background: #3aa3e6;
	background: -moz-linear-gradient(top, #87c6ee, #3aa3e6 2%, #028fe8);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #87c6ee), color-stop(.01, #3aa3e6), to(#028fe8)); 

	border:1px solid #0082d5;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	outline:none;
}

.ui-dialog .ui-dialog-buttonpane button {
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif!important;
	letter-spacing:0;
	font-weight:bold;
	
	display:inline-block;
}

a.button_link:hover, input[type="submit"]:hover, input[type="reset"]:hover, .ui-dialog-buttonpane button:hover {
	text-shadow: 0 1px 1px #6f3a02;

	border:1px solid #e6791c;
	border-bottom:1px solid #d86f15;

	background: #f48423;
	background: -moz-linear-gradient(top, #ffdf9e, #f5b026 2%, #f48423);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffd683), color-stop(.01, #f5b026), to(#f48423)); 
	
	cursor:pointer;

}

/*Ajax Tab Container*/
.fancy-green .ajax__tab_header
{
	background: url(img/green_bg_Tab.gif) repeat-x;
	cursor:pointer;
}
.fancy-green .ajax__tab_hover .ajax__tab_outer, .fancy-green .ajax__tab_active .ajax__tab_outer
{
	background: url(img/green_left_Tab.gif) no-repeat left top;
}
.fancy-green .ajax__tab_hover .ajax__tab_inner, .fancy-green .ajax__tab_active .ajax__tab_inner
{
	background: url(img/green_right_Tab.gif) no-repeat right top;
}
.fancy .ajax__tab_header
{
	font-size: 13px;
	font-weight: bold;
	color: #000;
	font-family: sans-serif;
}
.fancy .ajax__tab_active .ajax__tab_outer, .fancy .ajax__tab_header .ajax__tab_outer, .fancy .ajax__tab_hover .ajax__tab_outer
{
	height: 46px;
}
.fancy .ajax__tab_active .ajax__tab_inner, .fancy .ajax__tab_header .ajax__tab_inner, .fancy .ajax__tab_hover .ajax__tab_inner
{
	height: 46px;
	margin-left: 16px; /* offset the width of the left image */
}
.fancy .ajax__tab_active .ajax__tab_tab, .fancy .ajax__tab_hover .ajax__tab_tab, .fancy .ajax__tab_header .ajax__tab_tab
{
	margin: 16px 16px 0px 0px;
}
.fancy .ajax__tab_hover .ajax__tab_tab, .fancy .ajax__tab_active .ajax__tab_tab
{
	color: #fff;
}
.fancy .ajax__tab_body
{
	font-family: Arial;
	font-size: 10pt;
	border-top: 0;
	border:1px solid #999999;
	padding: 8px;
	background-color: #ffffff;
}






