/* :::::::::::::【 ECO-5CONTENT 上方標籤選單列 】:::::::::: */

ul#MenuList{ 
	width:825px;
	height:30px;
	border:none;
	border-bottom:#D4D4D4 solid 1px;
	padding-left:15px;}

#MenuList li{
	float:left;
	margin-left:5px;
	width:120px;
	height:30px;
	line-height:30px;
	overflow: hidden;
	margin-bottom:-1px;
	background-color:#E1E1E1;
	border-radius: 5px 5px 0 0;
	border:#D4D4D4 solid 1px;
	border-bottom:#FFF;}
#MenuList li a{
	display:block;
	color:#141414;
	letter-spacing:1px;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	border-radius: 5px 5px 0 0;
	border:solid 1px #FFF;}
#MenuList li a:hover{
	text-decoration:underline;}
	
#MenuList li a.M_click{
	color:#06C;
	background-color:#FFF;}